<!-- views/partials/navbar.ejs -->
 
  
  
  
<div class="navbar">
    
    <a href="https://www.google.com" >Google</a>
    <a href="/in">Login Here</a>
    <a href="/in/getInstructorRegister" class="btn btn-danger"> Register Here </a>
   
    <a href="/in/OneInstructorInfo" >Show Your Information</a>

        <br/>
  </div>
  
  