<!-- views/partials/navbar.ejs -->
 
  
  
  
<div class="navbar">
    
    <a href="https://www.google.com" > Google</a>
    <a href="/in">Login Here</a>
    <a href="/in/getInstructorRegister" > Register Here </a>
    <a href="/CoursesRouter/AddCourses" > Add Courses </a>
    <a href="/in/OneInstructorInfo" >   About you </a>
        <br/>
  </div>
  
  