<!-- views/partials/navbar.ejs -->
 
  
  
  
<div class="navbar">
    
    <a href="https://www.google.com" >Google</a>
    <a href="/in">Login Here</a>


    <a href="/in/getInstructorRegister" >Create New Instructor</a>

        <br/>
  </div>
  
  