<!-- views/partials/navbar.ejs -->
 
  
  
  
<div class="navbar">
    
    <a href="https://www.google.com" >Google</a>
    <a href="/in">Login Here</a>
    <a href="/in/InstructorList" >Show All Instructor</a>
    <a href="/in/OneInstructorInfo" >Show Your Information</a>
    <a href="/CoursesRouter/CoursesDetails" >Show Your Courses Details</a>
        <br/>
  </div>
  
  