<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blogs</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("/images/photo2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      .jumbotron {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="jumbotron">
        <h1>All about Node</h1>
        <p class="lead">Check out our Blogs below!</p>
        <% if(typeof data !== "undefined"){ %>
          <h1>Updating the user: <%= data.title%></h1>
        <form action="/Blogupdate/<%= data._id %>" method="post">
          <label> title : </label>
          <input
            name="title"
            class="form-control"
            type="text"
            placeholder="title"
            aria-label="title"
          />
          <label>body: </label>
          <input
            name="body"
            class="form-control"
            type="text"
            placeholder="body"
            aria-label="body"
          />
          
          <br />
          <button class="btn btn-primary"> Update </button>
        </form> 
        <% } else { %>
          <form action="/Result" method="post">
            <label> title : </label>
          <input
            name="title"
            class="form-control"
            type="text"
            placeholder="title"
            aria-label="title"
          />
          <label>body: </label>
          <input
            name="body"
            class="form-control"
            type="text"
            placeholder="body"
            aria-label="body"
          />
            <br />
            <button class="btn btn-primary">submit new value</button>
          </form> 

          <% }  %>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            <!-- loop over blog posts and render them -->
            LIST_OF_POSTS
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
