<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Instructor Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("/images/photo2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      .jumbotron {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="jumbotron">
        <% if(typeof data !== "undefined"){ %>
          <h2>Updating the user: <%= data.InstructorName %></h2>
          <p class="lead">Please put all your Info </p>
        <form action="/in/updateInstructor/<%= data %>" method="post">
          <label> Instructor Name : </label>
          <input
            name="InstructorName"
            class="form-control"
            type="text"
            placeholder="InstructorName"
            aria-label="InstructorName"
          />
          <label>Instructor Email : </label>
          <input
            name="InstructorEmail"
            class="form-control"
            type="text"
            placeholder="InstructorEmail"
            aria-label="InstructorEmail"
          />
          <label> Instructor Password </label><br />
          <input
            name="InstructorPassword"
            class="form-control"
            type="password"
            placeholder="InstructorPassword"
            aria-label="InstructorPassword"
          />
          <br />

          <label>Contact Information </label>
          <input
            name="contactInformation"
            class="form-control"
            type="text"
            placeholder="contactInformation"
            aria-label="contactInformation"
          />
          <br />

          <label> Teaching Experience  </label>
          <input
            name="teachingExperience"
            class="form-control"
            type="text"
            placeholder="teachingExperience"
            aria-label="teachingExperience"
          /> 
          <br />
          <button class="btn btn-success"> Update </button>
        </form> 

        <%- include('partials/footer') %>
        <% } else { %>
          
        <h1>Register on the LMS</h1>
        <p class="lead">Please Fill in all the blank fields </p>
        <form action="/in/postInstructorRegister" method="post">
          <label> Instructor Name : </label>
          <input
            name="InstructorName"
            class="form-control"
            type="text"
            placeholder="InstructorName"
            aria-label="InstructorName"
          />
          <label>InstructorEmail : </label>
          <input
            name="InstructorEmail"
            class="form-control"
            type="text"
            placeholder="InstructorEmail"
            aria-label="InstructorEmail"
          />
          <label>Instructor Password </label><br />
          <input
            name="InstructorPassword"
            class="form-control"
            type="password"
            placeholder="InstructorPassword"
            aria-label="InstructorPassword"
          />
          <label>Contact Information </label>
          <input
            name="contactInformation"
            class="form-control"
            type="text"
            placeholder="contactInformation"
            aria-label="contactInformation"
          />
          <br />
          <label>Teaching Experience  </label>
          <input
            name="teachingExperience"
            class="form-control"
            type="text"
            placeholder="teachingExperience"
            aria-label="teachingExperience"
          /> 
          <br />

            <br/> 
            <button class="btn btn-success">Register</button>
            <a href="/in/login" class="btn btn-success" style="float: right;"> login </a>
          </form> 
          <% }  %>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            <!-- loop over blog posts and render them -->
            LIST_OF_POSTS
          </div>
        </div>
      </div>
     
    </div>
  </body>
</html>
